<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="Kenneth Hu" />
    <title>GET FREE ETH-ECC</title>
    <script src="js/web3.min.js"></script>
    <script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>
  </head>
  <body> -->
<div class="container" style="padding-top: 50px;">
  <h1>Get free ETH-ECC!
  </h1>
      <button id="connectMetamask">Connect to Metamask</button>
      <hr/>
      <p>Account : <input id="Account" type="text" /></p>
      <p>Balance : <input id="Balance" type="text" /></p>
      <hr/>

      <label style="text-align: left; width: 100%;" for="name" class="col-lg-2 control-label"
        ><h2>Request ETH
          ad-ECC</h2></label
      >
      <p>Current free-pool balance &nbsp <span id="currentAmount"></span></p>
      <div style="display: none" id="rloader_div">Transaction is in progress...<br>
        When the transfer is complete, the transaction hash is shown below.</div>
      <p>Transaction Hash : &nbsp <span id="Request-Hash"></span></p>
      <button id="RequestFreETH">Request</button>
      <hr />

      <label style="text-align: left; width: 100%;" for="name" class="col-lg-2 control-label"
        ><h2>Donate ETH-ECC</h2></label
      >
      
      <p>Amount : &nbsp <input id="dAmount" type="text" /></p>
      <div style="display: none" id="dloader_div">Transaction is in progress...<br>
        When the transfer is complete, the transaction hash is shown below.</div>
      <p>Transaction Hash : &nbsp <span id="Donate-Hash"></span></p>
      <button id="DonateFreETH">Donate</button>

      <!-- <hr />
      <label for="name" class="col-lg-2 control-label"><h3>Transfer</h3></label>
      <p>From : &nbsp &nbsp &nbsp <input id="From" type="text" /></p>
      <p>To : &nbsp &nbsp &nbsp &nbsp &nbsp <input id="To" type="text" /></p>
      <p>Amount : &nbsp <input id="Amount" type="text" /></p>
      <button id="Transfer">Transfer</button>
      <p>Transaction Hash : &nbsp <span id="Tx"></span></p> -->
    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="index.js"></script> -->
  <!-- </body>
</html> -->
