<div class="container" style="padding-top: 50px;">

    <h1 style="text-align:center;">GIST| ETH-ECC Block Explorer!</h1>

	<h3 style="color:red;text-align:center;">*experiments going on... </h3>
	<table class="table table-striped table-bordered" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:0px;width:100%">
		<tbody>
	  <tr>
		<td><h3>Average creation time of the last 10 blocks</h3></td>
		<td><h3>{{averageTime}} second</h3></td>
	  </tr>
		</tbody>
	</table>
  
	<h3 style="margin-top: 50px;">
		<a style="margin-top: 50px;" href="/#/block/{{blockNum}}">Latest Block: {{blockNum}}</a>
	</h3>

    <table class="table table-striped table-bordered" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:0px;width:100%">
      <tbody>
	<tr>
	  <th>Block #</th>
	  <th>Miner</th>
	  <th>Tx #</th>
 	  <th>Size</th>
	  <th>Time</th>
	</tr>
	<tr data-ng-repeat="i in blocks">
	  <td><a href="/#/block/{{i.number}}">{{i.number}}</a></td>
	  <td><a href="./#/address/{{i.miner}}">{{i.miner}}</a></td>
	  <td>{{i.transactions.length}}</td>
	  <td>{{i.size}}</td>
	  <td>{{i.time}}</td>
    </tr>
      </tbody>
    </table>
</div>
